* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.light-theme {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Dark theme */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
